@model Mvc.Models.mvcFuncionarioModel
@{
    ViewBag.Title = "Home Page";
}

<body style="padding-top:60px">
    <div class="col-md-10 col-md-offset-1" align="center">
        <div class="well" align="center">
            <p align="center">Para criar movimentações, é necessário que o usuário esteja logado. Para fazer isso, primeiro crie um usuário novo: </p>
            <p align="center"><a href="@Url.Action("AddOrEdit","Home")" class="btn btn-default"> Criar novo funcionário</a></p>
            <p align="center">Agora basta se logar ou no canto direito superior da página</p>
            <p align="center"><a href="@Url.Action("Logar","Home")" class="btn btn-default"> Logar </a></p>
        </div>
    </div>
</body>
<br />
<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />





@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            var failMessage = '@TempData["FailMessage"]';
            if (successMessage != '')
            {
                alertify.success(successMessage);
            }
            if (failMessage != '')
            {
                alertify.alert(failMessage);
            }
        });
    </script>
}
<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

    -->